This is a test configuration file. Below, the gluer files are specified. The
paths to these files are relative to this configuration file.

glue: bind.gluer


Other options can be specified as well.

verbose: false


This file will also contain references to plug-ins.

plugin; gluer.clauses.what.new
plugin; gluer.clauses.where.field
plugin; gluer.clauses.what.call
plugin; gluer.clauses.what.single


Another possibility would be to be able to add extra class-path entries here.

classpath-entry; lib/adapters.jar